extends layout

block content
  .container
    a.d-block(href="/injection/login_bypass/login") Login can Injection
    a.d-block(href="/injection/login_bypass/resolve_login") Login with NoSQL Injection protection
