extends ../../layout.pug

block stylesheets

block content
    .container
        .row 
            .col.d-flex.justify-content-center.align-items.center
                form(action=action, method="GET", style="width: 500px;")
                    h1.text-center REGISTER
                    
                    if registerFail
                        div.lead.text-danger Register fail due to username is not available
                            a.ml-3.text-danger(style="cursor: pointer;", onclick="this.parentNode.remove()") OK

                    div.my-3.d-flex.flex-column.align-items-center
                        label.w-100(for="username") Username
                        input#username.w-100(type="text", name="username", placeholder="Enter your username", value=username)

                    div.my-3.d-flex.flex-column.align-items-center
                        label.w-100(for="password") Password
                        input#password.w-100(type="password", name="password", placeholder="Enter your password", value=password)

                    div.my-3.d-flex.align-items-center.justify-content-between
                        input.btn.btn-primary(type="submit", name="submit", value="Submit")
                        input.btn.btn-secondary(type="reset", value="Reset")

block javascripts
