extends ../../layout.pug

block stylesheets

block content
    .container
        .row 
            .col.d-flex.justify-content-center.align-items.center
                h1.text-center.text-success Login SUCCESS !!!

block javascripts
